{
    "ConfigVersion" : "0.1",

    "Token" : "Your-Token-Goes-Here",

    "Owners" : ['OwnerIDs']
    
    "TwitterAPI": {
        "ApiKey": "TwitterApiKeyHere",
        "ApiSecretKey": "TwitterApiSecretKeyHere",
        "BearerToken": "TwitterBearerTokenHere",
        "UserAccessToken": "TwitterUserAccessTokenHere",
        "UserAccessTokenSecret": "TwitterUserAccessTokenSecretHere"
    }

    "TwitchAPI": {
        "ClientId": "TwitchAPIKeyHere",
        "ClientSecret": "TwitchAPISecretHere",
        "HostName": "HostNameHere-ItsRequired",
        "ListenerPort": "ListenerPort"
    },

    "TwitchListener" : {
        "HostName": "example.com",
        "ListenerPort": "8090"
    },

    "DatabaseURL" : "mongodb://localhost:27017/MythoticDiscordBot"
}